:root {
	background: var(--nix-background) !important;
	font: var(--nix-font) !important;
	color: var(--nix-color) !important;

	--tabpanel-background-color: transparent !important;
	--tab-selected-shadow: none !important;
	--toolbox-bgcolor: transparent !important;
	--toolbox-bgcolor-inactive: transparent !important;
}

#navigator-toolbox {
	background: none !important;
}
toolbarbutton#sidebar-button,
.titlebar-buttonbox-container,
toolbarspring#vertical-spacer {
	display: none !important;
}

tabbox#tabbrowser-tabbox {
	padding: 0 var(--nix-padding-small) var(--nix-padding-small) 0;
	box-shadow: none !important;
	outline: none !important;
	
	tabpanels {
		border-radius: var(--nix-rounding-small);
		overflow: hidden;
	}
}

/* Center urlbar */
toolbaritem#urlbar-container {
	max-width: 1000px;
}
toolbarspring {
	max-width: unset !important;
}

button-group.tools-and-extensions {
	display: none;
}

toolbarbutton#tabs-newtab-button {
	opacity: 0.3;
}
